@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  Add your custom styles here.

  You can use Tailwind's utility classes or write your own.

  Here's an example of a custom class:
  
 */
@layer components {
  .my-custom-style {
    background-color: aqua;
  }
  .w-my-half {
    width: calc(50% - 1rem);

  }
  .an-test {

    animation: test 0.3s ease ;
  }

  .an-test2 {

    animation: test2 1s ease ;
  }
  @keyframes test {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }

    100%{
      transform: translateX(0px);
      opacity: 1;
    }
  }

  @keyframes test2 {
    0% {
      opacity: 0;
      transform: translatey(50px);
    }
    100%{
      transform: translateX(0px);
      opacity: 1;
    }
  }

}